$main-color: red;
$text-color: white;
$background-color: #0d1a26;

#movie-card {
  max-height: 675px;
  max-width: 90%;
  margin-top: 12px;
  margin-bottom: 12px;
}

#movie-image {
  max-width: 100%;
  max-height: 425px;
}

#movie-title {
  font-size: 28px;
  height: 60px;
}

#movie-genre {
  font-size: 18px;
  height: 25px;
}

#open-button {
  font-size: 18px;
  background-color: $main-color;
  color: $text-color;
  border: none;
  margin-top: 8px;
  padding: 6px;
  border-radius: 20%;
}
