$main-color: red;
$text-color: white;
$background-color: #0d1a26;

.header-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.movie-list-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
