#user-button {
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 6px;
  border-radius: 20%;
}

#back-button {
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 6px;
  border-radius: 20%;
}

.profile-card{
  margin-top:25px;
}
