$main-color: red;
$text-color: white;
$background-color: #21262c;

* {
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}
